@import "./variables.css";
@import "./fonts.css";

/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;

  font-family: "Neucha", sans-serif;
  font-weight: normal;
  line-height: 1.2em;

  color: var(--primary);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 52px;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--dark);
}

.center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.m-0 {
  margin: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.p-24 {
  padding: 24px;
}

.p-40-55 {
  padding: 40px 55px;
}

/* Containers */

.container {
  position: relative;

  width: 100%;
}

.container-content {
  position: relative;

  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.flex-col-2 {
  display: flex;

  margin: 0 auto;
  gap: 30px;
}

.flex-col-2 > * {
  flex-basis: 50%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px 30px;
}

/* Backgrounds and colors */

.bg-img::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.bg-light {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

.bg-dark {
  background-color: var(--primary-dark);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-brown {
  background-color: var(--brown);
}

.primary-color {
  color: var(--primary);
}

.dark-color {
  color: var(--dark);
}

.white-color {
  color: var(--white);
}

.brown-color {
  color: var(--brown);
}

/* Header */

.header__title {
  margin-bottom: 185px;
}

.header__image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header__button {
  display: inline-block;

  margin-top: 24px;
  width: 148px;
  height: 49px;
  padding: 12px 24px;

  font-weight: 700;
  color: var(--white);
  background-color: var(--primary);

  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.header__button:hover {
  background-color: var(--primary-hover);
}

/* Video-section */

.video {
  position: relative;
  z-index: 1;

  margin-bottom: -200px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* Navigation-section */

#navigation {
  padding-top: 100px;
}

.navigation__title {
  font-size: 52px;
}

.navigation__card-number {
  margin: 0 0 40px;

  font-size: 64px;
  font-family: "Neucha", sans-serif;
  line-height: 1;
}

.navigation__card:hover {
  background-color: var(--primary);
  color: var(--white);
}

.navigation__card:hover * {
  color: var(--white);
}

/* Other sections */

.image {
  vertical-align: middle;
}

.section__header-dark {
  margin: 0;

  font-family: "Neucha", sans-serif;
  font-weight: normal;
  font-size: 24px;

  color: var(--dark-transparent);
}

.section__header-white {
  margin: 0;

  font-family: "Neucha", sans-serif;
  font-weight: normal;
  font-size: 24px;

  color: var(--white-transparent);
}

.section__subheader {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.section__text-white {
  font-family: "Neucha", sans-serif;
  font-weight: normal;
  font-size: 34px;

  color: var(--white);
  line-height: 1.2em;
}

.section__text-dark {
  font-family: "Neucha", sans-serif;
  font-weight: normal;
  font-size: 34px;

  color: var(--dark);
  line-height: 1.2em;
}

/* Footer */

.footer__form-group a {
  text-decoration: underline;
}

.footer__form-group p {
  font-size: 12px;
}

.footer__input-group {
  display: flex;

  margin-top: 9px;

  height: 50px;
}

.footer__input {
  flex-grow: 1;

  padding: 15px;

  font-size: 13px;
  color: var(--grey);
  border: none;
}

.footer__button {
  position: relative;
  display: inline-block;
  width: 70px;

  background-color: var(--primary);
  border: none;
}

.footer__button:hover {
  background-color: var(--primary-hover);
}

.send-svg::before {
  position: absolute;

  top: 13px;
  left: 23px;
  width: 24px;
  height: 24px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.footer__info {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}

.footer__info-link {
  text-decoration: underline;
  color: var(--blue);
}
